@model GardenerKlondike.Web.Models.CalendarEventViewModel

@{
    ViewBag.Title = "Edit";
}

<h2 class="tab-main-header">Edit Event</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.User)

    <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
            @Html.LabelFor(model => model.Subject, new { @class = "control-label" })
            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Description, 10, 100, new { htmlAttributes = new { @class = "form-control width100" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
            @Html.LabelFor(model => model.Start, new { @class = "control-label" })
            @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
            @Html.LabelFor(model => model.End, new { @class = "control-label" })
            @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
            @Html.LabelFor(model => model.ThemeColor, new { @class = "control-label" })
            @Html.EditorFor(model => model.ThemeColor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ThemeColor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
            @Html.LabelFor(model => model.IsFullDay, new { @class = "control-label" })
            @Html.EditorFor(model => model.IsFullDay)
            @Html.ValidationMessageFor(model => model.IsFullDay, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
